.header {
    height: 200px;
    text-align: center;
    padding: 50px;
    background-color: lightslategray;
    background-size: cover; 
    color: white;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}